h1 {
  font-family:Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  margin-top: 5vh;
  color: white;
}
.feedback {
  margin-bottom: 1vh;
  color: #2a3d45;
}
.footer {
  margin-top: 2vh;
}
.words {
  text-align: center;
}
mark{
  background-color: #F3A712;
}
.counted{
  border: 1px solid white;
  border-radius: 12px;
  width: 50%;
  background-color: #F3A712;
  color: white;
}
.row {
  margin-top: 9%;
  margin-left: 1%;
  margin-right: 2%;
  background-color: #ddc9b4;
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-position: center center;
  justify-content: center center;
}

body {
  background-color: #2a3d45;
}
input.analyzeBtn {
  background-color: #7a6c5d;
  width: 15%;
  color: white;
}
input.words {
  width: 80%;
}
